{% extends 'layout.html' %}

{% block body %}
  <h1> <!{{session.username}}--> <small>Consulter et gerer vos stations </small></h1>
  <a class="btn btn-success" href="/add_station"> Ajouter une station</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Localisation</th>
      <th>Date d'ajout</th>
      <th></th>
      <th></th>
    </tr>
    {% for stat in Station %}
      <tr>
        <td>{{stat.id}}</td>
        <td>{{stat.Nom}}</td>
        <td>{{stat.Localisation}}</td>
        <td>{{stat.create_date}}</td>
        <td><a href="modifier_station/{{stat.id}}" class="btn btn-default pull-right">Modifier</a></td>
        <td>
          <form action="{{url_for('delete_stat', id=stat.id)}}" method="post">
            <input type="hidden" name="_method" value="Supprimer">
            <input type="submit" value="Supprimer" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
